<p id="notice"><%= notice %></p>

<h1>Listing Clausulas</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Descricao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clausulas.each do |clausula| %>
      <tr>
        <td><%= clausula.titulo %></td>
        <td><%= clausula.descricao %></td>
        <td><%= link_to 'Show', clausula %></td>
        <td><%= link_to 'Edit', edit_clausula_path(clausula) %></td>
        <td><%= link_to 'Destroy', clausula, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Clausula', new_clausula_path %>
